/* src/Auth.css */
.auth-container {
    display: flex;
    height: 80vh;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.auth-image {
    flex: 1;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    max-width: 400px;
    background: #fff;
    padding: 2rem;
    margin: 100px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.auth-form p {
    color: #777;
    margin-bottom: 1rem;
}

.auth-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-form button {
    width: 100%;
    padding: 0.8rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.auth-form .google-login {
    background: #f5f5f5;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.error {
    color: red;
    margin-top: 0.5rem;
}
